


/*                      COLORS
------------------------------------------------------------------------- */


$color-selected: #FCD842;
$color-bg: #204A5C;
$color-text: lighten( $color-bg, 25% );
$color-border: lighten( $color-bg, 10% );



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Playfair Display', Georgia, 'Times New Roman', serif;
$font-weight: 300;
$font-weight-bold: 700;



/*                      SIZES
------------------------------------------------------------------------- */

$max-width: 960px;
