


/*                      COLORS
------------------------------------------------------------------------- */

$color-selected: #F33;
$color-low: #DDD;
$color-hi: #000;



/*                      TYPOGRAPHY
------------------------------------------------------------------------- */

$font: 'Playfair Display', Georgia, 'Times New Roman', serif;
$font-weight: 300;
$font-weight-bold: 700;



/*                      SIZES
------------------------------------------------------------------------- */

$max-width: 960px;
